<h2>Lista de Contas Bancárias</h2>

<table border="1">
    <thead>
    <tr>
        <th>Banco</th>
        <th>Agência</th>
        <th>Conta</th>
        <th>Saldo</th>
        <th>Despesas</th>
        <th>Editar</th>
        <th>Deletar</th>
    </tr>
    </thead>
    <tbody>
    {{#each contas}}
        <tr>
            <td>{{banco}}</td>
            <td>{{agencia}}</td>
            <td>{{numero_conta}}</td>
            <td>{{saldo}}</td>
            <td>{{despesas.length}}</td>
            <td><a href="/contas/update/{{id}}">Editar</a></td>
            <td><a href="/contas/delete/{{id}}">Deletar</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
